.sidebar-title {
  font-size: 12px;
  font-weight: 600;
}
.document {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  padding: 3px;
}
.document .sidebar-document-right {
  visibility: hidden;
}
.document:hover .sidebar-document-right {
  visibility: visible;
}
.document:hover {
  background-color: rgba(55, 53, 47, 0.08);
}
.document.active {
  background-color: rgba(55, 53, 47, 0.08);
}

.sidebar-document-left {
  width: 70%;
}
.document-title {
  width: 100%;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar-last-document {
  text-align: center;
  font-size: 12px;
  color: rgba(55, 53, 47, 0.5);
}

.show {
  display: flex;
}
.hide {
  display: none;
}

.visible-off {
  visibility: hidden;
}

.visible-on {
  visibility: visible;
}

.depth0 {
  padding-left: 15px;
}
.depth1 {
  padding-left: 25px;
}
.depth2 {
  padding-left: 35px;
}
.depth3 {
  padding-left: 45px;
}
.depth4 {
  padding-left: 55px;
}
